@font-face {
    font-family: 'Lora';
    src: url("../fonts/Lora/Lora-VariableFont_wght.ttf");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Fira_Code';
    src: url("../fonts/Fira_Code/FiraCode-VariableFont_wght.ttf");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato/Lato-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato/Lato-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato/Lato-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}